.about-bottom-container {
  display: flex;
}

.about-top-container {
  height: 15rem;
  background-image: linear-gradient(#d3d0fa, #b0aafd);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.about-info{
  display: block;
  width: 60%;
}

.mt-title{
  text-align: center;
  margin: 2rem;
}

.person {
  margin: 1rem;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 1px 3px 30px rgba(0,0,0,.3);
}

.person-image {
  height: 200px;
  margin: 4%;
  border-radius: 100%;
}

