.header{
    margin: 0 auto 30px auto;
}

.answer{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.755rem;
}

.important-word{
    font-weight: bold;
    text-decoration: underline;
}

.faq-outer-container{
    background-color: #eae9f7;
    /* background-image: linear-gradient(to right bottom, #c4c1f8, #9b95f8); */
    height: 100vh;  
}

.header{
    color: rgb(75, 74, 74);
}

.faq-inner-container{
    color: #555;
    margin: 0 5%;
    padding-top: 1%;
}