.full-container{
    margin-left: 0px;
    background-color: #dbe2ef;
}

.search-container{
    position: relative;
    height: 6.06rem;
}

.searchbarParent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 59%;
    z-index: 3;
    display:flex;
    justify-content: center;
}

.searchbar{
    position: absolute;
    display: inline-block;
    width: 86%;
    margin-right: 3%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-anchor:hover,.page-anchor:active{
    color: #f9f7f7;
    background-color: #3f72af;
}

/*------CARD STYLES------*/

.tutor-card-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.tutor-card{
    width: 60%;
    max-width: 98rem;
    padding: 2rem;
    background-color: #f9f7f7;
    margin: auto auto;
    box-shadow: 0 1.4rem 2rem rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin: 1rem 1rem;
}

.tutor-card-name{
    font-size: 2.5rem;
}

.tutor-card-bio{
    font-size: 1.156rem;

}

.tutor-card-img-container{
    min-width: 15rem;
    max-width: 15rem;
    height: 15rem;
    position: relative;
    padding: 2rem;
}

.tutor-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;

}

.tutor-card-readmore{
    display: block;
}

.connect-btn{
    margin-top: 1rem;
}

@media screen and (max-width: 1157px) {
    .searchbarParent{
        width: 85%;
    }

    .searchbar{
        width: 60%;
    }
}

@media screen and (max-width: 868px) {
    .tutor-card{
        max-width: 70rem;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .tutor-card-bio{
        height: 0;
        visibility: hidden;
    }
    .tutor-card{
        padding: 2.5rem;
        flex-direction: column;
    }

    .tutor-card-img-container{
        min-width: 20rem;
        max-width: 20rem;
        height: 100%;
    }

}

@media screen and (max-width: 426px) {
    .tutor-card-img-container{
        min-width: 14rem;
        max-width: 14rem;
        height: 100%;
        padding-top: 0.3rem;
    }    

    .tutor-card-name{
        font-size: 1.75rem;
    }

    .tutor-card{
        width: 80%;
        margin: 0.5rem 0.5rem;
    }
    
}

@media screen and (max-width: 378px) {
    .tutor-card{
        margin: 0.5rem 0.5rem;
        width: 90%;
    }
    .searchbar{
        font-size: small;
    }
}






