.messages-page-outer-container {
  background-color: #7971ea;
  height: 100vh;
  padding: 1rem;
}

.chat-wrapper {
  display: flex;
}

.current-connections {
  width: 35%;
}

.chat-list-group {
  max-height: 87vh;
  overflow-y: hidden;
}

.chat-list-group:hover{
  overflow-y: scroll;
}

.current-chat-open {
  width: 65%;
}

.message-connection {
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 0rem 1rem;
  border: .1px rgb(216, 216, 216) solid;
  border-radius: 0px;
  padding: .2rem 1rem;
}

.message-connection:hover {
  background-color: rgb(148, 146, 146);
  color: #fff;
  cursor: pointer;
}

.tutor-card-img-container-messages {
  min-width: 7rem;
  max-width: 7rem;
  height: 7rem;
  position: relative;
  margin: 0.5rem 1rem;
  margin-right: 2rem;
  /* padding: .5rem; */
  /* margin: .5rem; */
}

.connection-item{
  margin-top: 1rem;
}

.messages-chat-box {
  position: relative;
  height: 70vh;
  background-color: #fff;
  /* overflow-y: scroll; */
}

.messages-scroller {
  height: 70vh;
  padding: 2% 0;
  overflow: auto;
  flex: auto;
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
} 

.chat-box-header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 3rem;
  background-color: rgb(148, 146, 146);
  /* height: 2rem; */
  width: 100%;
}

.input-box {
  display: flex;
}

@media screen and (max-width: 990px){
  .tutor-card-img-container-messages{
    min-width: 3rem;
    max-width: 3rem;
    height: 3rem;
    margin: 0.25rem .5rem;
    margin-right: 1rem;
  }

  .connection-item {
    font-size: .9rem;
  }

  .connection-name{
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 750px){
  .tutor-card-img-container-messages{
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
    margin: .1rem .25rem;
    margin-right: .5rem;
  }
  .connection-item {
    font-size: .7rem;
  }

  .connection-name{
    font-size: 1rem;
  }

}

@media screen and (max-width: 550px){
  .connection-last-message {
    display: none;
  }
  .connection-name{
    font-size: .8rem;
  }
  .connection-item {
    margin-top: .1rem;
  }
  .tutor-card-img-container-messages{
    margin-left: 0rem;
    padding-left: 0rem;
  }
  .messages-page-outer-container{
    padding: .4rem;
  }
  .message-connection{
    margin-left: 0rem;
    margin-right: .4rem;
  }
  .chat-box-header{
    font-size: 1rem;
  }
  .success {
    font-size: .8rem;
    margin-left: .3rem;
  }
}