.video-container {
	overflow: hidden;
	height: 100%;
	border-radius: 8px;
	position: relative;
	display: flex;
	background-color: #777;

}

.user-video {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-moz-transform: rotateY(180deg); /* Firefox */
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	border-radius: 5px;
	display: block;
	margin-bottom: 0.5rem;
}

.user-video-default {
	width: 80%;
	border-radius: 5px;
	display: block;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-moz-transform: rotateY(180deg); /* Firefox */
}

.partner-video {
	background-color: #777;
	width: 80%;
	border-radius: 5px;
	display: block;
}

.callBtn {
	justify-content: center;
}

.endBtn {
	/* justify-self: center; */
	/* align-self: flex-end; */
	/* justify-content: center;
	/* align-content: center; */
	position: absolute;
	top: 30%;
	right: 2%;
	width: 10rem;
	
}

.accept-btn {
	width: 10rem;
}

.btn-div {
	text-align: center;
	color: #fff;
	width: 20%;
	padding: 1rem;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* width: 50%; */
	background-color: #777;
}
