#tsparticles {
  height: 100%;
}

.home-btn {
  margin: 1rem;
}

.home-container {
  height: 92vh;
  text-align: center;
  margin: auto auto;
  position: relative;
  background-color: #7cd0e6;
}

.home-contents {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-container{
    background-color: #03acd6;
}