.bt-whole-container {
  min-height: 100vh;
  position: relative;
}

.bt-top-container {
  background-image: linear-gradient(#d3d0fa, #b0aafd);
  color: white;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.why-tutor {
  width: 60%;
}

.bt-answer{
  flex: 1 1 auto;
  padding: 1.755rem;
}

.bt-form {
  background-color: rgb(243, 233, 250);
  line-height: 1.4rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tutor-form {
  width: 40rem;
}
