.ep-whole-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(#d3d0fa, #b0aafd);
}

.ep-top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.ep-header {
    margin: 2rem auto;
}

.ep-both-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem;
    background-color: #fff;
    border-radius: 3%;
}


.ep-form-container {
    padding-right: 3rem;
    padding-left: 3rem;
    min-height: 20rem;
    width: 80%;
}

.ep-button {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 505px) {
    .ep-bottom-container {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .ep-both-container {
        width: 90%;
    }

    .ep-form-container{
        width: 105%;
    }
}
