.pp-whole {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(#d3d0fa, #b0aafd);
}

.pp-both-container {
    background-color: #fff;
    margin: 3rem;
    border-radius: 2%;
}

.pp-top-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20rem;
}

.pp-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 20rem;
}

.pp-full-name{
    margin-left: 2rem;
    display: block;
}

.edit-btn-2{
    margin-left: 1rem;
}

.listgroup-skills {
    display: flex;
    flex-wrap: wrap;
}
.listgroup-skill {
    margin: .25rem;
    padding: .5rem 1rem;
    border: 1px #777 solid;
    border-radius: 8px;
    background-color: lightblue;
}

