.contact-whole-container {
  min-height: 100vh;
  position: relative;
}

.contact-top-container {
  position: relative;
  background-image: linear-gradient(#d3d0fa, #b0aafd);
  color: white;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-info {
  width: 60%;
}

.contact-answer{
  flex: 1 1 auto;
  padding: 1.755rem;
}

.contact-whole-form {
  position: relative;
  background-color: rgb(243, 233, 250);
  line-height: 1.4rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media(max-width: 767px){
  .bt-outer-container-contact{
      height: 130vh;
  }
  .bt-inner-container-contact{
      width: 80%;
  }
}